@model Models.User

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User</title>
</head>
<body>
    <h1>Id: @Model.Id</h1>
    <p>Login: @Model.Login</p>
    <p>Password: @Model.Password</p>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <a href="/User/SignIn" style="margin-top: 10px;">Back</a>
</body>
</html>